* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
}

nav {
  background: #0e1e25;
  width: 100%;
  margin: 0 auto;
  height: 16.5rem;
  padding: 20px 40px;
  color: rgb(126, 135, 139);
}

header {
  max-width: 75rem;
  height: 64px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}
.logo .img {
  width: 35px;
  height: 35px;
}
.logo h2 {
  margin-left: 25px;
  font-weight: lighter;
  font-size: 22px;
  color: #ffffff;
  font-family: inherit;
  cursor: pointer;
}
.logo h2 i {
  font-size: 18px;
  margin-left: 10px;
}
.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.menu ul li {
  margin-left: 30px;
  cursor: pointer;
}
.menu ul li i {
  padding: 6px 8px;
  border-radius: 8px;
  transition: all 0.4s ease;
  color: gray;
  font-size: 22px;
  transition: all 0.4s ease;
}

.menu ul li i:hover {
  color: white;
  background: gray;
}
.menu ul li button {
  background: #8c1773;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 8px;
}
.menu ul li img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: all 0.4s ease;
}
.img2:hover {
  border: 2px solid #00ad9f;
  padding: 0.1rem;
}
.main__container {
  max-width: 75rem;
  padding: 24px 12px;
  margin: 0 auto;
  position: relative;
  top: -11rem;
  box-shadow: 0 0 1px #fff;
  background: #fff;
  border-radius: 6px;
  margin-top: 24px;
}

.card__container {
  padding: 2.5rem;

  border-radius: 4px;
  margin: 0 auto;
  padding-top: 3.4rem;

  width: 42.5rem;
}
.card__container h3 {
  font-size: 28px;
  line-height: 32px;
  color: #2e3c42;
  font-weight: 500;
}
.card__container p {
  color: #646e73;
  padding: 0.9rem 0rem;
  font-weight: lighter;
  font-size: 14 px;
}
.step {
  margin-bottom: 5rem;
  display: flex;
}
.step span {
  font-weight: 300;
  width: 100%;
}
.step span::before {
  margin-left: 10px;
  display: block;
  content: "";
  width: 99%;
  height: 3.4px;
  background-color: #00ad9f;
  margin-bottom: 0.7rem;
}
.site__settings h2 {
  color: #2e3c42;
  font-weight: 300;
}
.site__settings p {
  margin-bottom: 1.2rem;
  font-weight: 200;
}
.dropdown {
  position: relative;
}
.dropdown .fa {
  position: absolute;
  right: 32px;
  top: 10px;
  font-weight: 600;
  font-size: 18px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.form span {
  color: #646e73;
  font-size: 12px;
}
.settings .fa {
  margin-left: 4px;
  color: #2e3c42;
}
.form h1 {
  font-size: 22px;
  line-height: 32px;
  color: #2e3c42;
  font-weight: 500;
}
.form input {
  padding: 10px 14px;
  outline-color: #15847b;
  margin-bottom: 1.4rem;
  border-radius: 6px;
  width: 95%;
  border: 2px solid #646e73;
}
.form input::placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #646e73;
  letter-spacing: 1px;
}
.form label {
  font-size: 14px;
  font-size: 400;
  color: #646e73;
}
.form1 p {
  margin: 2rem 0;
}
.form a {
  margin-bottom: 3rem;
  color: #15847b;
  font-weight: 600;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}
.btn1 {
  background: #eaebec;
  width: 150px;
  padding: 10px 10px;
  color: #2e3c42;
  border-radius: 4px;
  border: none;
  margin: 1rem 0;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.4s ease;
}
.btn1:hover {
  background: #bce4f1;
}
.btn2 {
  background: #15847b;
  color: #fff;
  width: 120px;
  padding: 10px 10px;
  border-radius: 4px;
  border: none;
  margin: 1rem 0;
  font-weight: 600;
  font-size: 16px;
}
.btn2:hover {
  background: #00ad9f;
}
footer {
  margin-top: 5rem;
  background: #0e1e25;
  height: 20vh;
  width: 100%;
}
.social {
  margin-top: 30px;
}
.social a {
  font-size: 1rem;
  color: rgb(126, 135, 139);
  cursor: pointer;
  font-weight: 600;
  line-height: 1rem;
}
.social a:last-child {
  font-size: 14px;
}
footer a {
  line-height: 40px;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 600;
  color: #646e73;
}

@media (max-width: 786px) {
  .main__container {
    margin: 5rem 0.75rem;
  }

  .card__container {
    width: 100%;
    padding: 0 2rem;
  }
  nav {
    padding: 40px 20px;
  }
  .menu ul li {
    margin-left: 10px;
  }
  .form {
    width: 100%;
    padding: 0 1rem;
  }
  .settings {
    width: 100%;
  }

  .btn1,
  .btn2 {
    width: 100%;
  }

  .logo {
    display: block;
    padding: 0;
    margin: 0;
  }

  .logo h2 {
    margin: 0px;
    font-size: 14px;
  }
  .menu ul li button {
    font-size: 14px;
    display: none;

    padding: 0;
  }

  .form input {
    width: 91%;
  }
}
/* @media (max-width: 620px) {
  .main__container {
    width: 100%;
  }
  .card__container {
    width: 100%;
    padding: 0 2rem;
  }
  .btn1,
  .btn2 {
    width: 100%;
  }
} */
